html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	perspective: calc(500 * var(--logo-scale));
	transform-style: preserve-3d;
	--logo-scale: 0.15vw;
}

@media (min-aspect-ratio: 4/3) {
	body {
		--logo-scale: 0.2vh;
	}
}

.logo {
	height: calc(205 * var(--logo-scale));
	width: calc(400 * var(--logo-scale));
	position: relative;
	--rotateX: 0;
	--rotateY: 0;
	transform-style: preserve-3d;
	transform:
		rotateY(calc(var(--rotateY) * -1deg))
		rotateX(calc(var(--rotateX) *  1deg));
}

.tile {
	position: absolute;
	transform: translateZ(calc(var(--vol-range) * var(--logo-scale) * var(--distance-factor)));
	--distance-factor: 1;
}

/* Logo Boxes */
.bottom {
	top: calc(149 * var(--logo-scale));
	left: calc(34 * var(--logo-scale));
	width: calc(218 * var(--logo-scale));
	height: calc(56 * var(--logo-scale));
	background: #9bd41f;
	--distance-factor: -0.2;
	--vol-range: var(--vol-range2);
}

.top-right {
	top: 0;
	left: calc(206 * var(--logo-scale));
	width: calc(126 * var(--logo-scale));
	height: calc(102 * var(--logo-scale));
	background: #79cd60;
	--distance-factor: -0.3;
	--vol-range: var(--vol-range1);
}

.top-left {
	top: calc(28 * var(--logo-scale));
	left: calc(68 * var(--logo-scale));
	width: calc(138 * var(--logo-scale));
	height: calc(74 * var(--logo-scale));
	background: #82cd28;
	--distance-factor: -0.1;
	--vol-range: var(--vol-range3);
}

.top-intersect {
	top: calc(28 * var(--logo-scale));
	left: calc(206 * var(--logo-scale));
	width: calc(46 * var(--logo-scale));
	height: calc(74 * var(--logo-scale));
	background: #c4e014;
	--distance-factor: -0.05;
	--vol-range: var(--vol-range2);
}

.container {
	top: calc(65 * var(--logo-scale));
	left: 0;
	width: calc(400 * var(--logo-scale));
	height: calc(112 * var(--logo-scale));
	background: #53be37;
	--distance-factor: 0.1;
	--vol-range: var(--vol);
}

/* Text-Formatierung */
.container {
	color: #fff;
	font-family: Helvetica, sans-serif;
	font-size: calc(112 * var(--logo-scale));
	line-height: calc(114 * var(--logo-scale));
	letter-spacing: calc(-8 * var(--logo-scale));
	text-align: center;
	transform-style: preserve-3d;
}

.text,
.text-shadow {
	position: absolute;
	width: 100%;
}

.text-shadow {
	color: #000;
	filter: blur(calc(2*var(--logo-scale)));
	opacity: 0.5;
	transform: initial;
}

.text span {
	display: inline-block;
	transform: translateZ(calc(var(--vol-range) * var(--logo-scale) * var(--distance-factor)));
}

.text-shadow span {
	display: inline-block;
	transform: scale(calc(1 - 1/250 * var(--vol-range) * var(--distance-factor)));
}

.container span:nth-child(1) {
	--vol-range: var(--vol-range1);
	--distance-factor: 0.1;
}

.container span:nth-child(2) {
	--vol-range: var(--vol-range3);
	--distance-factor: 0.3;
}

.container span:nth-child(3) {
	--vol-range: var(--vol-range2);
	--distance-factor: 0.2;
}

.container span:nth-child(4) {
	--vol-range: var(--vol-range1);
	--distance-factor: 0.1;
}

/* Controls */
.controls {
	position: fixed;
	bottom: 0;
	width: 100%;
	opacity: 0;
	transition: transform 0.3s, opacity 0.5s;
	transition-delay: 0.2s;
	transform: translateY(50%);
}

.controls:hover {
	opacity: 1;
	transition: transform 0.2s, opacity 0s;
	transform: translateY(0);
}

.controls audio {
	width: 100%;
}
